n8n-nodes/json.json
{
    "nodes": [
      {
        "parameters": {
          "jsCode": "for (const item of $input.all()) {\n\n    // Get the webSocketDebuggerUrl\n    const url = item.json.webSocketDebuggerUrl;\n  \n    // Extract the last part of the URL\n    const lastPart = url.split(\"/\").pop();\n  \n    // Concatenate\n    const result = `http://100.XX.XX.XX:9223/devtools/browser/${lastPart}`;\n  \n    // Add the result to the item's JSON as 'myNewField'\n    item.json.WS_Endpoint = result;\n  \n    // Print the result (optional)\n    console.log(result);\n  }\n  \n  // Return the modified items\n  return $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          140,
          0
        ],
        "id": "cf635c2c-f20e-47b9-8917-e412cf5ca3e8",
        "name": "Code"
      },
      {
        "parameters": {
          "url": "http://100.XX.XX.XX:9223/json/version",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -40,
          0
        ],
        "id": "c93b16b1-25e3-4131-acc7-ad6e961a620a",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "jsCode": "const puppeteer = require('puppeteer');\n\nasync function run() {\n    const wsChromeEndpointurl = $input.first().json.WS_Endpoint;\n    const browser = await puppeteer.connect({\n        browserWSEndpoint: wsChromeEndpointurl,\n        headless: false\n    });\n\n    const page = await browser.newPage();\n    await page.goto('https://economist.com');\n    const title = await page.title();\n    await page.close();\n    return [{ title }];\n}\n\nreturn run()"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          0
        ],
        "id": "17a7f008-1161-419b-baa1-c74d8aef3030",
        "name": "Code1"
      }
    ],
    "connections": {
      "Code": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "bfc265a0402eb6543e6cbf43d37210f6fa8cb72736676656a159075d75879e79"
    }
  }